.titleh1 {
  text-align: center;
  font-size: 44px;
  font-weight: 600;
  margin: 40px 60px 20px 60px;
  width: auto;
}
.titleh2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 40px 60px 20px 60px;
  width: auto;
}
